body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  background: rgb(38, 39, 44);
  color: white;
}

h1 {
  font-size: var(--fs-1300);
  line-height: 1;
  letter-spacing: 0.1rem;
}

.wrapper {
}

ul {
  list-style: none;
  padding: 0;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
}

li a {
  margin-right: 2rem;
}

img {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

ul.transition {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

ul.transition li {
  transform: scaleY(0);
  background: white;
  width: 20%;
}

