.chouky-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
  background-image: linear-gradient(to right top, #000000, #19000c, #23001a, #290029, #29003d, #2b1859, #242e75, #004491, #1d70af, #519bc7, #8bc6de, #caf0f8);
}

header {
  padding: 40px 40px 0;
  position: absolute;
  top: 0;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1000;
}

.header__name {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.header__nav {
  display: none;
}

.section {
  background-image: linear-gradient(to left bottom, #534695, #5a58a5, #626ab5, #6c7dc5, #768fd4, #9392d7, #ad96d7, #c39ad6, #e192ba, #ec919a, #e6997d, #d1a56b);

  &--alt {
    background-image: linear-gradient(to right top, #534695, #5a58a5, #626ab5, #6c7dc5, #768fd4, #9392d7, #ad96d7, #c39ad6, #e192ba, #ec919a, #e6997d, #d1a56b);

    h1 {
      color: white;
    }
  }
}

.fullpage__slide {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  position: absolute;
  overflow: hidden;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  z-index: 200;
  margin-left: 11%;

  &__text {
    font-size: var(--fs-1300);
    line-height: 1;
    letter-spacing: 0.1rem;
    margin-bottom: 1.6rem;
  }

  &__border {
    display: inline-block;
    margin-bottom: 3.2rem;

    span:first-child {
      margin-bottom: 1.4rem;
    }

    span:last-child {
      margin-left: 4rem;
    }

    span {
      display: block;
      width: 100px;
      height: 4px;
      border-radius: 5px;
      background: #534695;
    }
  }

  &__lead {
    color: #fff;
    font-size: 2.8rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
  }

}

.image {
  display: block;
  position: relative;
  width: 53.125%;
  height: 74.81%;
  margin: 0 8% 0 auto;
  -webkit-box-shadow: 0 80px 140px -40px rgb(0 0 0 / 60%);
  box-shadow: 0 80px 140px -40px rgb(0 0 0 / 60%);

  &--works {
    background: url(/src/images/motm.jpg) no-repeat center;
    background-size: cover;
  }

  &--about {
    background: url(/src/images/about-me.jpg) no-repeat center;
    background-size: cover;
  }
}

.slide {


}

.fp-prev {
  margin-left: 2rem;
}

.fp-next {
  margin-right: 2rem;
}

#fp-nav ul li a.active span {
  height: 16px !important;
  width: 16px !important;
  background: url(/src/images/dragon_ball.svg) no-repeat center;
}
